bg_color = #eceff4
text_color = #2e3440
// text_color = #000000
primary_color = #5060ff

default_font = "sohne-var", "Helvetica Neue", "Arial", sans-serif

media_queries = {
  xs: "@media only screen and (max-width: 600px)",
  sm: "@media only screen and (min-width: 600px)",
  md: "@media only screen and (min-width: 768px)",
  lg: "@media only screen and (min-width: 992px)",
  xl: "@media only screen and (min-width: 1200px)"
}