body
    margin 16px
    line-height 1.5
    color text_color
    background-color bg_color
    font-family default_font

.section__container
    display flex
    justify-content center

 /* Extra small devices (phones, 600px and down) */
.section__layout-container
    @media only screen and (max-width: 600px)
        width 320px
        max-width 320px

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px)
        width 600px
        max-width 600px

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px)
        width 700px
        max-width 700px
    /* Large devices (laptops/desktops, 992px and up) */
    @media screen and (min-width: 992px)
        width 900px
        max-width 900px
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px)
        width 1080px
        max-width 1080px